body{
    background-color: #d68427;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cell{
    border:1px solid #3527d6;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    margin:0 3px;
}

h1,h6{
    text-align: center;
}

h1{
    margin: 0px;
    color: #3527d6;
}

h6{
    margin: 0px;
    margin-bottom: 15px;
}

.colored{
    background-color: black;
}

.erase{
    background-color: red;
    height: 20px;
    width: 100px;
    border-radius: 80%;
}

.info{
    display: flex;
    justify-content: space-between;
}